body {
  background-color: #5590ef !important;
  color: rgba(0, 0, 0, 0.6) !important;
  font-family: "Lato", sans-serif !important;
  font-size: 14px !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;

  margin: 0 !important;
  padding-top: 40px !important;
  position: relative !important;
  height: 100% !important;
  width: 100% !important;
}

.sidenav {
  height: 100% !important;
  width: 200px !important;
  position: fixed !important;
  z-index: 1 !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #111 !important;
  overflow-x: hidden !important;
  padding-top: 20px !important;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px !important;
  text-decoration: none !important;
  font-size: 20px !important;
  color: #b5b5b5 !important;
  display: block;
  border: none !important;
  background: none !important;
  width: 100% !important;
  text-align: left !important;
  cursor: pointer !important;
  outline: none !important;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1 !important;
}

.main {
  margin-left: 200px !important;
  font-size: 20px !important;
  padding: 0px 10px !important;
}

.active {
  background-color: #0f359b !important;
  color: white !important;
}

.dropdown-container {
  display: none;
  background-color: #262626 !important;
  padding-left: 8px !important;
}

.fa-caret-down {
  float: right !important;
  padding-right: 8px !important;
}
/* //////////////////////////////////////////////// */

.pagination {
  display: inline-block;
}

.pagination div {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: large;
}

.buttons-container {
  margin-left: 15%;
}
#myInput {
  background-image: url("/assets/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  vertical-align: middle;
}
.myButton {
  vertical-align: middle;
  margin-left: 1%;
  margin-top: -1%;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #003591;
  color: #ffffff;
}

/* //////////////////////////////////////////////// */

.table-container {
  margin-left: 15%;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table {
  width: 100%;
  border-collapse: separate;
  border: solid black 1px;
}

.table-header {
  display: flex;
  width: 100%;
  background: black;
  padding: 18px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row {
  background: white;
  border: solid thin;
}

.table-row-1:hover {
  -webkit-box-shadow: inset 0px 0px 0px 3px #000000;
  -moz-box-shadow: inset 0px 0px 0px 3px #000000;
  box-shadow: inset 0px 0px 0px 3px #000000;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}

/* /////////////////////// */
